{{> trainermenu id="trainer dashboard"}}

<section class="ui segment">
    <h2 class="ui header">
        <section class="ui segment">
            <div class="ui equal width four column grid">
                <div class ="column">
                    <i class="huge icon user"></i>
                    <div class="row">
                        {{name}}
                    </div>
                </div>
            </div>
        </section>
    </h2>
  {{> listmembers}}
</section>